
<div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Northeastern Men's Rugby</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input ng-model="username" class="form-control"
                           placeholder="username"
                           type="text"/>
                </div>
                <div class="form-group">
                    <input ng-model="password" class="form-control"
                           placeholder="password"
                           type="password">
                </div>
                <!--<a ng-click="model.login(username, password)" class="btn btn-primary">Login</a>-->
                <a type="submit" href="#!/player" class="btn btn-primary">Login</a>
                <a type="submit" href="#!/register" class="btn btn-success">Register</a>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>


<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <h2>Current Players</h2>
            <div ng-repeat="player in model.players">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            {{player.name}}
                        </div>
                        <div class="col-xs-1">
                            <a href="#!/player/{{player._id}}">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                        <div class="col-xs-1">
                            <a ng-click="model.deletePlayer(player._id)" href="#!/login">
                                <span class="glyphicon glyphicon-remove pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </div>
            <ul class="list-group">
                <div ng-repeat="player in model.players">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                {{player.name}}
                            </div>
                            <div class="col-xs-1">
                                <a href="#!/player/{{player._id}}">
                                    <span class="glyphicon glyphicon-cog pull-right"></span>
                                </a>
                            </div>
                            <div class="col-xs-1">
                                <a ng-click="model.deletePlayer(player._id)" href="#!/login">
                                    <span class="glyphicon glyphicon-remove pull-right"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Events</h2>
            <div>

            </div>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="dbms.html" role="button">View more &raquo;</a></p>
        </div>
    </div>


    <hr>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div>

</div>